<div id="meetingsheader" style="margin-bottom: 8px;">
	<span>Jeff McDonald's Dashboard</span>
	<span>|</span>
	<a id="dashboard-selection" href="#">View Another Dashboard</a>
	<button id="meeting-new" style="float: right;">New Meeting</button>
</div>
<div id="meetingsgrid" style="background-color:white"></div>
	