<div style="width: 100%;">

	<!-- header -->
	<div id="meetingsheader" style="width: 100%;"></div>

	<!-- grid -->
    <div id="meetingsgrid" style="width: 100%; background-color:white"></div>
</div>
